@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Nunito+Sans:wght@400;500&display=swap');



/* Styles */
body {
    background-color: #d8f3dc;
    font-family: 'nunito', sans-serif;
    margin: 2rem 5%;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  p {
    text-align: justify;
    font-size: 14px;
  }
  
  /* Header */
  #logo {
    display: block;
    margin: 0 auto;
    width: 5vw;
    height: 15vh;
  }
  
  /* Navigation */
  nav {
    background-color: #2d6a4f;
    border-radius: 10px;
    margin-top: 2em;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin-right: 4em;
    padding: .5em;
    transition: background-color 0.3s ease;
  }
  
  nav li:hover {
    cursor: pointer;
    background-color: #40916c;
  }
  
  li > a {
    text-decoration: none;
    color: #e4fde9;
    font-family: 'lato';
    font-size: 1.3em;
  }
  
  /* Content */
  section {
    display: flex;
    margin-top: 3em;
    border-radius: 10px;
  }
  
  .content article {
    background-color: #e8f8e5;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .content article:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/Lucky-Shrub-logos/banner.jpg");
    background-size: cover;
    background-position: center;
    color: #e4fde9;
  }
  
  article {
    flex: 1;
    padding: 1em;
    text-align: center;
    margin-right: 1.5em;
  }
  
  article:last-of-type {
    margin-right: 0;
  }
  
  article img {
    width: 20vw;
    height: 18vh;
    border-radius: 5px;
  }
  
  /* Footer */
  footer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-top: 4em;
    padding: 10px;
  }
  
  .logo {
    width: 2.5vw;
    height: 7.5vh;
    justify-self: start;
  }
  
  footer div:last-of-type {
    justify-self: end;
  }
  